

.background {
    min-height: 50px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: center;
    justify-content: center;
}

.description {
    font-size: medium;
    font-family: "Georgia", serif;
    font-weight: bold;
    color: inherit;
    text-align: left;
    text-decoration: inherit;
    outline: none;
    margin-right: 300px;
    margin-left: 30px;
    margin-bottom: 100px;
    margin-top: -20px;
}

.drop-downs {
    font-size: medium;
    font-family: "Georgia", serif;
    font-weight: bold;
    color: inherit;
    text-align: -webkit-center;
    text-decoration: inherit;
    outline: none;
    margin-top: 20px;
    padding: 20px;
}

.desc1 {
    display: grid;
    grid-row-gap: 24px;
    font-size: medium;
    font-family: "Georgia", serif;
    font-weight: bold;
    color: inherit;
    text-align: -webkit-center;
    text-decoration: inherit;
    outline: none;
    margin-top: 20px;
    padding: 20px;
}


.dropdown-container {
  width: 40%;
  padding: 20px;
}
